# ===============================
#   Gitignore 
# ===============================
# Authors   Erin Rizal @elrizal
# Docs      http://git-scm.com/docs/gitignore
# ===============================
# **/01-Activities/**/Solved/