# ===============================
#   Gitignore 
# ===============================
# Authors   Erin Rizal @elrizal
# Docs      http://git-scm.com/docs/gitignore
# ===============================


# **/**/02-css-bootstrap/01-Activities/**/Solved
**/**/03-JavaScript/01-Activities/29-JoanOfArcArrays/Solved
**/**/03-JavaScript/01-Activities/31-MyFirstObject/Solved
**/**/03-JavaScript/01-Activities/32-CarGame/Solved
**/**/03-JavaScript/01-Activities/33-QuestionGame/Solved
**/**/03-JavaScript/01-Activities/31-MyFirstObject/Solved
**/**/03-JavaScript/01-Activities/35-LocationRedirect/Solved


# Homework:
**/**/03-JavaScript/02-Homework/Master

*~
.DS_Store
*.code-workspace
